body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}
header > h1 {
    text-align: center;
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}
.light{
    text-align: right;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time {
    /* float: right; */
    color: #aaa;
}

#message{
    margin-top: 5%;
    width: 100%;
}
.button-container{
    width: 100%;
    text-align: center;
    margin-top: 3%;
}
.buttons{
    background-color: green;
    border: none;
    padding: 15px;
    width: 30%;
    margin-right: 3%;
    color: white;
    font-size: large;
    border-radius: 10%;
}
.alert{
    text-align: center;
    background-color: teal;
    color: white;
    padding: 0;
}
.section{
    border: 1px solid black;
    height: 340px;
    overflow: hidden;
    overflow: auto;
}
#confirm{
    position: absolute;
    width: 90%;
    height: 85%;
    background-color: violet;
    text-align: center;
}
.chat_sign{
    position: relative;
    top:35%;

}
#confirm_button{ 
    display: block;
    margin-top: 5%;
    margin-left: 40%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: lightgreen;
    color:black;
}